<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="color: red;">
        <%-message%>
    </div>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Choose a username" required>
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="text" name="fName" placeholder="Enter first name" required>
        <input type="text" name="lName" placeholder="Enter last name" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="password" name="cpassword" placeholder="Confirm password" required>
        <button type="submit">Submit</button>
    </form>
    <div><a href="/login">Login</a></div>
</body>
</html>